home/.cmus/cache
home/.cmus/autosave
home/.cmus/command-history
home/.cmus/lib.pl
home/.cmus/playlist.pl
home/.cmus/search-history
home/.config/nvim/spell/
home/.vifm/scripts/README
home/.config/nvim/autoload/plug.vim.old
home/.bin/mountall
home/.fzf.zsh
