[submodule "home/.tmux/plugins/tmux-better-mouse-mode"]
	path = home/.tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/nhdaly/tmux-better-mouse-mode
[submodule "home/.pyenv"]
	path = home/.pyenv
	url = https://github.com/pyenv/pyenv
