[submodule "home/.tmux/plugins/tmux-better-mouse-mode"]
	path = home/.tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/nhdaly/tmux-better-mouse-mode
[submodule "home/.myrepos"]
	path = home/.myrepos
	url = git://myrepos.branchable.com/
