# Get software updates, and update installed Ruby gems, Homebrew, npm, and their installed packages.
function update {
    case $(uname) in
        Darwin)
            echo "\n===[ Apple Software Update ]===============================" && \
            sudo softwareupdate -i -a
            echo "\n===[ App Store ]===========================================" && \
            mas upgrade
            echo "\n===[ Homebrew ]============================================" && \
            brew update && \
            brew upgrade && \
            brew cleanup -s
            # echo "\n==[ MacPorts ]==========================================================" && \
            # sudo port selfupdate && \
            # sudo port outdated
            # sudo port upgrade outdated
            # echo "Cleaning up ..."
            # sudo port uninstall inactive
            # sudo port uninstall leaves
            echo "\n===[ npm ]=================================================" && \
            npm update -g
            echo "===[ Gems ]================================================" && \
            gem update && \
            gem cleanup
            echo "\n===[ pip ]=================================================" && \
            pip install --user --upgrade $(pip2 list --outdated --format=legacy | awk '/.*/ {print $1}') && \
            pip3 install --user --upgrade $(pip3 list --outdated --format=legacy | awk '/.*/ {print $1}')
            ;;
        Linux)
            echo "===[ apt-get ]=============================================" && \
            sudo apt-get update && \
            sudo apt-get -y upgrade && \
            sudo apt-get -y dist-upgrade && \
            sudo apt-get -y autoremove && \
            sudo apt-get -y remove (deborphan)
            # echo "==[ npm ]==========================================================" && \
            # sudo npm install npm -g && \
            # sudo npm update -g
            echo "===[ Gems ]================================================" && \
            sudo gem update
            echo "===[ pip ]================================================="
            if [ $(cat /etc/issue) -eq "Ubuntu" ]
            then
                echo "pip updates not supported on Ubuntu as some packages are owned by the system."
            else
                sudo python -m pip install --upgrade (python -m pip list --outdated | awk '/.*/ {print $1}') && \
                sudo python3 -m pip install --upgrade (python3 -m pip list --outdated | awk '/.*/ {print $1}')
            fi
            ;;
        FreeBSD)
            echo "===[ System Software Update ]==============================" && \
            freebsd-update fetch upgrade
            echo "\n===[ Update Ports ]========================================" && \
            portmaster -av
            ;;
        *)
            echo "Not supported on (uname)."
    esac
}

#
# Opens man pages in Dash.app.
#

function mand {
  if (( $# > 0 )); then
    open "dash://man:$1" 2>/dev/null
    if (( $? != 0 )); then
      print "$0: Dash is not installed" >&2
      break
    fi
  else
    print 'What manual page do you want?' >&2
  fi
}

#
# Opens man pages in Preview.app.
#

function manp {
  local page
  if (( $# > 0 )); then
    for page in "$@"; do
      man -t "$page" | open -f -a Preview
    done
  else
    print 'What manual page do you want?' >&2
  fi
}

function removetags {
  local file
  if (( $# > 0 )); then
    for f in "$@"; do
      tag --remove \* $f
    done
  else
    print 'Please specify files.' >&2
  fi
}

function pinfo {
  local port
  local mp
  local hb
  if (( $# > 0 )); then
    for port in "$@"; do
      mp=`port info $port | awk '/.+ @/ {print $2}' | sed 's/@//'`
      echo "MacPorts version: $mp" && \
      hb=`brew info $port | head -n 1 | awk '/.*: / {print $3}' | sed 's/,//'`
      echo "Homebrew version: $hb"
    done
  else
    print 'Please specify files.' >&2
  fi

}

function ssht {
  if [ -z "$1" ]; then
    echo "usage: $0 <hostname>";
  fi
  $(which ssh) $1 -t "sh -c 'tmux a || tmux'";
}

function new-project {
  if [ -z "$1" ]; then
    echo "usage: $0 <project-name>";
  else
    git clone https://github.com/herrbischoff/project-template $1 && \
    cd $1 && \
    rm -rf .git/ && \
    git init && \
    cd 04_Development && \
    npm install && \
    cd .. && \
    echo "*---===[ All done! You may start coding now. ] ===---*"
  fi
}
